*{
  font-family:Arial, Helvetica, sans-serif;
}
#root{
  margin: 0px 20px 0px 20px ;
  /* border: 0.2px solid grey; */
  background-color: #F5F5F5;
  padding: 5px;
  box-shadow: 1px 2px 6px grey;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
  /* box-shadow: 0.5px 1px 2px; */
  /* border-radius: 5px; */
}

.logo{
  font-weight: 700;
  font-size: x-large;
}

.controller{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller >div{
  margin: 4px;
}
.icon{
  width: 20px;
  height: 20px;
}

.search{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
}

#searchBar{
  border: 0px;
}
.story-bar{
  display: flex;
  gap: 5px;
  border-bottom: 0.1px solid grey;
  padding: 5px;
  /* margin-top: 5px; */
  /* box-shadow: 0.5px 1px 2px; */
  /* border-radius: 5px; */
}
.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.story-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #2a2eff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 1px;
}

.story-icon > img{
  border-radius: 50%;
  width:50px;
  height: 50px;
}


.post-container{
  margin-top: 5px;
  /* border: 1px solid grey; */
  /* padding: 10px; */
  /* box-shadow: 0.5px 1px 2px; */
  /* border-radius: 5px; */
}

.post-head{
  display: flex;
  justify-content: space-between;
}

.post-head-left{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.post-head-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-body{
  padding: 0px;
  margin: 5px 0px 10px 0px ;
}

.user-name{
  font-size: medium;
}


.profile-photo{
  width: 10px;
  height: 10px;
}

.follow-button{
  border-radius: 6px;
  padding: 5px;
  border: 0px;
  background-color: rgb(0, 0, 252);
  color: white;
}

.post{
  width: 100%;
}

.interactions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interactions-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  
}

.interactions-icon{
  width: 100%;
  
}