*{
  font-family:Arial, Helvetica, sans-serif;
}
#root{
  margin: 0px 20px 0px 20px ;
  /* border: 0.2px solid grey; */
  background-color: #F5F5F5;
  padding: 5px;
  box-shadow: 0px 0px 3px grey;
  /* width: 50%; */
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid grey;
  /* box-shadow: 0.5px 1px 2px; */
  /* border-radius: 5px; */
}

.logo{
  font-weight: 700;
  font-size: x-large;
}

.controller{
  display: flex;
  justify-content: center;
  align-items: center;
}
.controller >div{
  margin: 4px;
}
.icon{
  width: 20px;
  height: 20px;
}

.search{
  display: flex;
  justify-content: center;
  border: 1px solid black;
  align-items: center;
  padding: 3px;
  border-radius: 10px;
}

#searchBar{
  border: 0px;
}
.story-bar{
  display: flex;
  gap: 5px;
  border-bottom: 0.1px solid grey;
  padding: 5px;
}
.story{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.story-icon{
  width: 50px;
  height: 50px;
}
.profile-photo{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #2a2eff;
  border-radius: 50%;
  padding: 1px;
  width: 70px;
  height: 70px;
}

.post-container{
  margin-top: 5px;
}

.post-head{
  display: flex;
  justify-content: space-between;
}

.post-head-left{
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.post-head-right{
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-body{
  padding: 0px;
  margin: 5px 0px 2px 0px ;
}

.user-name{
  font-size: medium;
}



.follow-button{
  border-radius: 6px;
  padding: 5px;
  border: 0px;
  background-color: rgb(0, 0, 252);
  color: white;
}

.post{
  width: 100%;
}

.interactions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interactions-left{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

.interactions-icons{
  display: flex;
  align-items: center;
  gap: 4px;
}

.caption{
  font-size: 0.7rem;
}

.post-time{
  color:grey;
  font-size:0.6rem;
}

.profile-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-account{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.profile-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 10px 10px;
}

.name-count{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  font-size: 0.6rem;
  margin-right: 10px;
}

.count{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.profile-page-photo{
  width: 30%;
}
.name{
  font-size: 0.6rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.bio{
  font-size: 0.6rem;
  margin-left: 9px;
}

.profile-button{
  /* width: 100%; */
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  width: 49.5%;
  border-radius: 5px;
  border: 0px;
  padding: 4px;
  background-color: rgba(169, 169, 169, 0.334);
  font-size: 0.5rem;
  font-weight: 600;

}
.profile-header{
  font-size: 0.7rem;
  font-weight: 600;
}

.highlight-bar{
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.highlight{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.highlight-content{
  width: 40px;
  height: 40px;
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 1.8px;
}

.add-highlight{
    border: 1px solid black;
}


.plus-highlight-icon{
  width: 40px;
  margin-top: 7.5px;
  height: 25px;
}

.highlight-title{
  margin-top: 2px;
  font-size: 0.5rem;
}

